@model IEnumerable<pizza.Models.OurMenu>

@{
    var menuList = Model.ToList();
    int mid = (int)Math.Ceiling(menuList.Count / 2.0);
    var leftColumn = menuList.Take(mid).ToList();
    var rightColumn = menuList.Skip(mid).ToList();
}

<div class="container">
    <div class="row justify-content-center mb-5 pb-3 mt-5 pt-5">
        <div class="col-md-7 heading-section text-center ftco-animate">
            <h2 class="mb-4">Menyumuz</h2>
            <p class="flip"><span class="deg1"></span><span class="deg2"></span><span class="deg3"></span></p>
            <p class="mt-5">Kimsənin addım atmadığı dağların arxasında, sözlər öz sehrini danışır..</p>
        </div>
    </div>

    <div class="row">
        <!-- Sol sütun -->
        <div class="col-md-6">
            @foreach (var item in leftColumn)
            {
                <div class="pricing-entry d-flex ftco-animate">
                    <div class="img" style="background-image: url(@item.ImageUrl);"></div>
                    <div class="desc pl-3">
                        <div class="d-flex text align-items-center">
                            <h3><span>@item.Name</span></h3>
                            <span class="price">₼@item.Price</span>
                        </div>
                        <div class="d-block">
                            <p>@item.Description</p>
                        </div>
                    </div>
                </div>
            }
        </div>

        <!-- Sağ sütun -->
        <div class="col-md-6">
            @foreach (var item in rightColumn)
            {
                <div class="pricing-entry d-flex ftco-animate flex-row">
                    <!-- flex-row-reverse silindi -->
                    <div class="img" style="background-image: url(@item.ImageUrl);"></div>
                    <div class="desc pl-3">
                        <!-- pr-3 əvəzinə pl-3 -->
                        <div class="d-flex text align-items-center">
                            <h3><span>@item.Name</span></h3>
                            <span class="price">₼@item.Price</span>
                        </div>
                        <div class="d-block">
                            <p>@item.Description</p>
                        </div>
                    </div>
                </div>
            }
        </div>

</div>
