@model List<pizza.Models.Category>

<section class="ftco-menu">
    <div class="container-fluid">
        <div class="row d-md-flex align-items-start">
            <!-- Sol tərəfdəki stabil şəkil -->
            <div class="col-lg-4 ftco-animate img f-menu-img mb-5 mb-md-0"
                 style="background-image: url('/images/about.jpg'); height:600px; background-size:cover; background-position:center;">
            </div>

            <div class="col-lg-8 ftco-animate p-md-5">
                <div class="row">
                    <!-- Tabs -->
                    <div class="col-md-12 nav-link-wrap mb-5">
                        <div class="nav ftco-animate nav-pills" id="v-pills-tab" role="tablist" aria-orientation="vertical">
                            @for (int i = 0; i < Model.Count; i++)
                            {
                                <a class="nav-link @(i == 0 ? "active" : "")"
                                   id="v-pills-@i-tab"
                                   data-toggle="pill"
                                   href="#v-pills-@i"
                                   role="tab"
                                   aria-controls="v-pills-@i"
                                   aria-selected="@(i == 0 ? "true" : "false")">
                                    @Model[i].Name
                                </a>
                            }
                        </div>
                    </div>

                    <!-- Tab content -->
                    <div class="col-md-12">
                        <div class="tab-content ftco-animate w-100" id="v-pills-tabContent">
                            @for (int i = 0; i < Model.Count; i++)
                            {
                                <div class="tab-pane fade @(i == 0 ? "show active" : "")"
                                     id="v-pills-@i"
                                     role="tabpanel"
                                     aria-labelledby="v-pills-@i-tab">
                                    <div class="row">
                                        @foreach (var product in Model[i].Products)
                                        {
                                            <div class="col-md-4 text-center mb-4">
                                                <div class="menu-wrap">
                                                    <a href="#" class="menu-img img mb-4"
                                                       style="background-image: url('@product.Img'); height:200px; background-size:cover; background-position:center;"></a>
                                                    <div class="text">
                                                        <h3><a href="#">@product.Title</a></h3>
                                                        <p>@product.Description</p>
                                                        <p class="price"><span>$@product.Price</span></p>
                                                      
                                                    </div>
                                                </div>
                                            </div>
                                        }
                                    </div>
                                </div>
                            }
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</section>
