@model IEnumerable<pizza.Models.PizzaMenu>

@{
    var pizzas = Model.ToList();
}

<div class="row no-gutters d-flex mb-4">
    @for (int i = 0; i < 3 && i < pizzas.Count; i++)
    {
        var item = pizzas[i];
        <div class="col-lg-4 d-flex ftco-animate">
            <div class="services-wrap d-flex flex-row">
                <a href="#" class="img" style="background-image: url(@item.ImageUrl);"></a>
                <div class="text p-4">
                    <h3>@item.Name</h3>
                    <p>@item.Description</p>
                    <p class="price">
                        <span>$@item.Price</span>
                        <a href="#" class="ml-2 btn btn-white btn-outline-white">Order</a>
                    </p>
                </div>
            </div>
        </div>
    }
</div>


<div class="row no-gutters d-flex mb-4">
    @for (int i = 3; i < 6 && i < pizzas.Count; i++)
    {
        var item = pizzas[i];
        <div class="col-lg-4 d-flex ftco-animate">
            <div class="services-wrap d-flex flex-row-reverse">
                <a href="#" class="img" style="background-image: url(@item.ImageUrl);"></a>
                <div class="text p-4">
                    <h3>@item.Name</h3>
                    <p>@item.Description</p>
                    <p class="price">
                        <span>₼@item.Price</span>
                       
                    </p>
                </div>
            </div>
        </div>
    }
</div>
