@model pizza.Models.Footer
@{
    ViewData["Title"] = "Footer Details";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

<h2>Footer Details</h2>

<div>
    <strong>About:</strong> @Model.AboutText
</div>
<div>
    <strong>Address:</strong> @Model.Address
</div>
<div>
    <strong>Phone:</strong> @Model.Phone
</div>
<div>
    <strong>Email:</strong> @Model.Email
</div>
<div>
    <strong>Twitter:</strong> @Model.Twitter
</div>
<div>
    <strong>Facebook:</strong> @Model.Facebook
</div>
<div>
    <strong>Instagram:</strong> @Model.Instagram
</div>

<h4>Blog 1</h4>
<div>Title: @Model.BlogTitle1</div>
<div>Date: @Model.BlogDate1</div>
<div>Author: @Model.BlogAuthor1</div>
<div>Comments: @Model.BlogComment1</div>
@if (!string.IsNullOrEmpty(Model.BlogImage1))
{
    <img src="@Model.BlogImage1" width="150" />
}

<h4>Blog 2</h4>
<div>Title: @Model.BlogTitle2</div>
<div>Date: @Model.BlogDate2</div>
<div>Author: @Model.BlogAuthor2</div>
<div>Comments: @Model.BlogComment2</div>
@if (!string.IsNullOrEmpty(Model.BlogImage2))
{
    <img src="@Model.BlogImage2" width="150" />
}

<a asp-action="Index" class="btn btn-secondary mt-3">Back</a>
